body
{
    font-family: 'Montserrat', sans-serif;
}
/*Navbar */
#nav-1
{
    background:#FFFFFF;
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.13);
}
.navbar-light .navbar-nav .nav-link
{

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #494454; 
}
.navbar-light .navbar-nav .active>.nav-link
{
  
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    /* identical to box height, or 29px */
    color: #3F346C;
}
/*Banner */
.header-1
{
   
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 150%;
    /* or 81px */
    color: #FFFFFF;
    
}
#content-1
{
    margin-top:69px;
}
.header-2
{
  
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 150%;
    /* or 81px */
    color: #FFFFFF;

}
.banner-2
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 20px;
}
#b-1
{
  
    color: #FBF7FF;
    font-weight: 600;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.25));
    border-radius: 9px;

}
#b-2
{
   
    color: #FBF7FF;
    font-size:14px;
    font-weight: 600;
    background: #00B3BA;
    border-radius: 9px;
    margin-left: 200px;
    margin-top: -58px;
}
/*work*/
#header-3
{
    
    font-style: normal;
    font-weight: 900;
    font-size: 37px;
    line-height: 150%;
    /* or 72px */
    color: #FBF7FF;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#header-4
{
   
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    color: #FFFFFF;
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%,-50%);
}
#header-5
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:bolder;
    font-size: 32px;
    line-height: 160%;
    /* or 58px */
    color: #494454;
}
#shape-1
{
    border-top: 3px solid  #0075AE;
    width:30%;
    height:auto;
    padding-bottom: 30px;
}
#paragrap-1
{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* or 29px */
    text-align: justify;

    color: #000000;
}
.bg-3
{
    background: #F6AF3E;
    box-shadow: 0px 13px 24px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 30%;
    height: auto;
    padding-bottom:8px;
    padding-top: 8px;
}
.text-1
{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    /* or 38px */
    color: #FFFFFF;
    padding-left:10%;
}
a:hover{
    color: white;
    text-decoration: none;
}

/*Our Process*/
#section-process
{
    background: #3F346C;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding-bottom:10%;
}
.header-7
{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 160%;
    /* identical to box height, or 58px */
    text-align: center;
    color: #FFFFFF;
}
.header-8
{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */

    text-align:center;

    color: #FFFFFF;
}
.process
{
    padding-top: 100px;
}
#shape-2
{
    border-top: 3px solid  #FFFFFF;
    width:10%;
    height:auto;
    padding-bottom: 10px;
    margin-left:45%;
}
.shape-4
{
    background: #FFFFFF;
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    width: auto;
    height:100%;
    padding-top:75px;
    padding-bottom:17px;
    padding-left: 20px;
    padding-right: 20px;
}

.list-group-item
{
    border:none;
}
.title-1
{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #494454;
}
.img-1
{
    width: 20%;
    height: auto;
    padding-bottom: 10px;
}
#shadow-1
{
    padding-top: 10%;
}

.paragrap-2
{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align:center;
    color: #494454;
}

.paragrap-3
{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align:center;
    color: #494454;
}
.title-3
{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #494454;
    padding-bottom: 10px;
    
}
/*Approach*/
#header-7
{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 160%;
    /* identical to box height, or 58px */
    color: #494454;
 
}
#header-8
{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* or 38px */
    text-align: justify;
    color: #494454;
}
.paragrap-4
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    
    
    color: #494454;
}
.title-4
{

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 32px */
    color: #494454;


}
.shape-7
{
    position: relative;
    top: -30px;
    left: -266px;
    width: 2px;
    height: 100px;
    border-left: 2px solid #0075AE;
}
.shape-8
{
    position: relative;
    top: -30px;
    left: -257px;
    width: 2px;
    height: 130px;
    border-left: 2px solid #0075AE;
}
.shape-9
{
    position: relative;
    top: -30px;
    left: -262px;
    width: 2px;
    height: 103px;
    border-left: 2px solid #0075AE;
}
/*Our Service*/
#shape-4
{
    border-top: 3px solid #00B3BA;
    width: 100px;
    height: auto;
}

.head-1
{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 160%;
    /* identical to box height, or 58px */
    color: #494454;
}
.para-1
{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    color: #000000;
}
.card
{
    background: #FFFFFF;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.09);
    border-radius: 13px;
    padding-top: 25px;
}
.card-title
{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */
color: #494454;
}
.card-text
{

font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 160%;
text-align: center;
/* or 29px */
color: #494454;
}
.list-group-item
{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    /* identical to box height, or 26px */
    
    background: none;
    color: #494454;
    

}
#bg--1
{
    background: #F6AF3E;
    box-shadow: 0px 13px 24px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
}
.text-2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

/* Color_white */

color: #FFFFFF;
}
#service
{
    padding-top:50px;
}
/*Talent*/
.talent
{
    padding-top: 100px;
}
.header-10
{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 160%;
    /* identical to box height, or 58px */
    
    color: #FBF7FF;
}
.header-3
{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* or 36px */
    color: #FBF7FF;
}
/*value added */
.para-2
{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    
    color: #000000;
}
.shadow-2
{
    background: #FFFFFF;
    border: 2px solid #3F346C;
    box-sizing: border-box;
    box-shadow: 0px 0px 47px rgba(0, 0, 0, 0.13);
    border-radius: 6px;
    padding-top: 30%;
    
}
#pos-1
{
    position: absolute;
    top: -20%;
    left: 30%;
}
.title-5
{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 150%;
    /* or 31px */

    color: #494454;

}
.para--1
{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    padding-left: 5%;
    padding-right: 5%;
    color: #000000;
    text-align: center;
}
/*Indusrest ware*/
.tit
{
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 150%;
    /* identical to box height, or 36px */
    color: #FBF7FF;
}
/*Contact*/
.he-1
{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 160%;
    /* or 67px */
    color: #494454;
    padding-top: 100px;
}
#bg--5
{
    background: #F6AF3E;
    box-shadow: 0px 13px 24px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-top:3%;
    padding-bottom:3%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top:19%;
}
